#UI{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: black;
  color: white;
  width: 30vw;
  height: 30vh;

}
#UI > * { 
  padding: 10px;
  width:  50%;
}

#UIback{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
  width: 99vw;
  background-color: grey; 
  
}

.cell{ 

  width: 30px;
  height: 30px;
  border: solid black 1px;
  
}

.board{
  padding-top: 20vh;
  display: grid;
  float: left;

}

#Game{
  display: flex;
  justify-content: center;

}
